<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <main>

    <input class="button gold_button" id="submitButton" type="submit" value="View Characters">
<section id="test">A test</section>
    <form class="form" action="/createCharacter" method="post">
      <input class="button gold_button" id="submitButton" type="submit" name="submit" value="Create Character">
    </form>
  </main>

</body>

<script>
$(function(){
  $('submitButton').on('click', function(){
    $.ajax({
      url: '/viewCharacters',
      contentType: 'application/json',
      success: function(res){
        console.log(res);
      }
    });
  });
});
</script>

</html>