<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Home</title>
</head>

<body>
  <main>

    <button class="button gold_button" id="submitButton" type="button" onclick="viewCharacters()">View Characters</button>

    <form class="form" action="/createCharacter" method="post">
      <input class="button gold_button" id="submitButton" type="submit" name="submit" value="Create Character">
    </form>
  </main>

</body>

<script>
  function viewCharacters() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log("success");
      }
    };
    xhttp.open("POST", "/viewCharacters", true);
    xhttp.send();
  }
</script>

</html>